/*!
 *   Name:
 * Author: 
 *
 * Includes :
 *   - bootstrap main css
 *   - bootstrap responsive css
 *   - custom css
 *
 */

//
// Twitter Bootstrap framwork
// --------------------------------------------------

@import 'bootstrap/bootstrap.less';

// Fixed header body push-down
body {
    padding-top: 48px;
    // background: url('../img/grid.png') 0 24px;
}

@import 'bootstrap/responsive.less';

/*!
 * Late Show Labs coolness
 */

.navbar .brand {
    font-family: "futura-pt-1", "futura-pt-2", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.jumbotron {
    position: relative;
    padding: 0;
    text-align: center;
    margin-bottom:4em;
    .container {
        position: relative;
    }
    h1 {
        margin-top: 40px;
        margin-bottom: 40px;
        line-height: 1em;
        span {
            color: @metalLight;
        }
        &.visible-tablet {
            display: visible;
            margin-top: 20px;
            font-size: 32px;
        }
        &.visible-phone {
            text-align:left;
            margin-top:10px;
            margin-bottom:35px;
            font-size: 32px;
        }
    }
}

@media (max-width: 767px) {
    .thumbnails .span4 .thumbnail .caption {
        width: 275px;
        margin: 0 auto;
    }
    .thumbnails .span6 .thumbnail .caption {
        width: 360px;
        margin: 0 auto;
    }
    #footer {
        margin-right: -20px;
        margin-left: -20px;
    }
}


@media (max-width: @navbarCollapseWidth) {
    #footer {
        padding: 0 20px;
    }
}

// .jumbotron {
//   position: relative;
//   padding: 40px 0;
//   color: #fff;
//   text-align: center;
//   text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
//   background: #020031; /* Old browsers */
//   background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
//   background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
//   background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
//   background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
//   background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
//   background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
//   -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
//      -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
//           box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
// }
// .jumbotron h1 {
//   font-size: 80px;
//   font-weight: bold;
//   letter-spacing: -1px;
//   line-height: 1;
// }
// .jumbotron p {
//   font-size: 24px;
//   font-weight: 300;
//   line-height: 30px;
//   margin-bottom: 30px;
// }

/* Link styles (used on .masthead-links as well) */
// .jumbotron a {
//   color: #fff;
//   color: rgba(255,255,255,.5);
//   -webkit-transition: all .2s ease-in-out;
//      -moz-transition: all .2s ease-in-out;
//           transition: all .2s ease-in-out;
// }
// .jumbotron a:hover {
//   color: #fff;
//   text-shadow: 0 0 10px rgba(255,255,255,.25);
// }

// /* Download button */
// .masthead .btn {
//   padding: 14px 24px;
//   font-size: 24px;
//   font-weight: 200;
//   color: #fff; /* redeclare to override the `.jumbotron a` */
//   border: 0;
//   -webkit-border-radius: 6px;
//      -moz-border-radius: 6px;
//           border-radius: 6px;
//   -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
//      -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
//           box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
//   -webkit-transition: none;
//      -moz-transition: none;
//           transition: none;
// }
// .masthead .btn:hover {
//   -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
//      -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
//           box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
// }
// .masthead .btn:active {
//   -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
//      -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
//           box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
// }


/* Pattern overlay
------------------------- */
// .jumbotron .container {
//   position: relative;
//   z-index: 2;
// }
// .jumbotron:after {
//   content: '';
//   display: block;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
//   opacity: .4;
// }

/* Masthead (docs home)
------------------------- */
// .masthead {
//   padding: 70px 0 80px;
//   margin-bottom: 0;
//   color: #fff;
// }
// .masthead h1 {
//   font-size: 120px;
//   line-height: 1;
//   letter-spacing: -2px;
// }
// .masthead p {
//   font-size: 40px;
//   font-weight: 200;
//   line-height: 1.25;
// }

// /* Textual links in masthead */
// .masthead-links {
//   margin: 0;
//   list-style: none;
// }
// .masthead-links li {
//   display: inline;
//   padding: 0 10px;
//   color: rgba(255,255,255,.25);
// }

section {
    margin-bottom: 72px;
    header {
        border-top: 4px solid @metal;
        border-bottom: 1px solid @metalLight;
        text-align: center;
        margin-bottom: 24px;
        h2 {
            #font > .sans-serif(24px, 500, 1);
            padding: 24px 0;
            margin: 0;
        }
    }
}

#contact {
    .container {
        text-align:center;
    }
    a {
        //#font > .monospace(24px, normal, 1);
        #font > .sans-serif(24px, 300, 1);
    }
}


#footer {
    margin-top:50px;
    height: 215px;
    background-color: @navbarBackground;
    text-align:center;
    h1 {
        #font > .sans-serif(36px, normal, 1);
        margin-top:72px;
        color: @white;
    }
    p {
        margin-top:24px;
        color: @white;
    }
}