/*!
 *   Name:
 * Author: 
 *
 * Includes :
 *   - bootstrap main css
 *   - bootstrap responsive css
 *   - custom css
 *
 */

//
// Twitter Bootstrap framwork
// --------------------------------------------------

@import 'bootstrap/bootstrap.less';

// Fixed header body push-down
body {
    padding-top: 48px;
    // background: url('../img/grid.png') 0 24px;
}

// @import 'bootstrap/responsive.less';

/*!
 * Late Show Labs coolness
 */


#header {
    width: 100%;
    .uber-header {
        width: 100%;
        background-color: #2BA7C7;
        height: 401px;
        max-height: 401px;
        border-bottom: 2px solid #207D95;
        overflow:visible;
        text-align: center;
        .slogan {
            margin-top: 1em;
            margin-bottom: 27px;
            color: @white;
        }
    }
    .unda-header {
        width: 100%;
        background-color: #D5EDF4;
        height: 144px;
        border-bottom: 2px solid #AADCE9;
        .features {
            margin: 70px auto 0 auto;
            td {
                img {
                    margin-right:5px;
                }
                font-size: 24px;
                color: #207D95;
                padding: 0 20px;
            }
        }
    }
}

section {
    header {
        text-align: center;
        height: 120px;
        h1 {
            line-height:120px;
            margin: 0;
        }
    }
    &.border-bottom {
        padding-bottom:48px;
        border-bottom: 2px solid #E6E6E6;
    }
}

#footer {
    height: 168px;
    width: 100%;
    background-color: @navbarBackground;
    // .box-shadow(inset 0 3px 20px rgba(0,0,0,.6));
    h1 {
        float:left;
        color: @white;
        margin-top: 2em;
        line-height: 40px;
    }
    p {
        float: right;
        color: @white;
        margin-top: 5em;
        line-height: 40px;
    }
}